:root {
 /* Fonts */
  --system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --system-serif: "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --system-mono: 'SF Mono', SFMono-Regular, ui-monospace, Menlo,  Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --system: var(--system-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

#default {
  background-color: ;
  color: ;
  font-family: var(--system); 
}

#default h1,
#default .h1 {}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;  
}

.content {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}

.divider {
  background-color: black;
  height: 1px;
  margin: 25px 0;
  width: 100%;
}

.footer {
  background-color: var(--);
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  align-items: center;
}

#legal {
  margin: 25px 0 10px 0;
}

#message {
  margin: 150px 0 0 50px;
}

#greeting {
  font-family: var(--system-mono);
  font-size: 2em;
  font-weight: 400;
  /*font-style: oblique;*/
  letter-spacing: .35rem;
  line-height: 2em;
}

#name {
  font-family: var(--system-mono);
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: .35rem;
  /*line-height: ;*/
  text-transform: uppercase;
}

#first-name {}

#last-name {}
