:root {
  /* Greyscale */
  --black: #28292b;
  --dk-grey: #47484a;
  --grey: #66676a;
  --lt-grey: #adafb4;
  --white: #f5f7ff;
  
  /* Fonts */
  --system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --system-serif: "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --system-mono: 'SF Mono', SFMono-Regular, ui-monospace, Menlo,  Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --system: var(--system-sans);
  
  /* Themes */
  --dk-bg: var(--black);
  --dk-fg: var(--white);
  
  --lt-bg: var(--white);
  --lt-fg: var(--black);

  /* Defaults */
  --bg: var(--dk-bg);
  --fg: var(--dk-fg);
  
  --font: var(--system);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

[data-color-scheme="dark"] {
  --bg: var(--dk-bg);
  --fg: var(--dk-fg);  
}

[data-color-scheme="light"] {
  --bg: var(--lt-bg);
  --fg: var(--lt-fg);
}
   
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}

.header,
.footer {
  flex: 0 0 auto;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 100;

  /* TODO: remove when ready to show header. */
  display: none;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.bg {
  position: absolute;
}

.main > .bg {
  left: 3%;
  top: 3%;
}
.footer > .content {
  /* TODO: lessen padding. */
  padding-bottom: 20px;
}

.cst-button {
  all: unset;
  border: 2px solid var(--fg);
  border-radius: 7px;
  opacity: 0.5;
  padding: 7px;
}

.cst-button:hover {
  cursor: pointer;
}

[data-color-scheme="dark"] .cst-text[data-toggle="dk"],
[data-color-scheme="light"] .cst-text[data-toggle="lt"] {
  text-decoration: underline;
}

#default {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font); 
}

[data-color-scheme="dark"] #bg-main-text {
  color: var(--dk-grey);
}

[data-color-scheme="light"] #bg-main-text {
  color: var(--lt-grey);
}

#bg-main-text {
  color: var(--lt-grey);
  font-size: 27vw;
  font-weight: 600;
  /*letter-spacing: .35rem;*/
  line-height: 0.8;
  /*opacity: 0.5;*/
  text-transform: uppercase;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  curosr: default;
}

#bg-main-text:hover,
#bg-main-text:active {
  cursor: default;
}

#greeting {
  display: none;
}

#legal {
  font-size: .75rem;
}

.footer .contact {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--lt-bg);
    --fg: var(--lt-fg);
  }
}

@media screen and (orientation: portrait) {
  #bg-main-text {
    font-size: 27vh;
    writing-mode: vertical-rl;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  #bg-main-text {
    font-size: 24vh;
  }
}
