:root {
  --black: #111;
  --grey1: #222;
  --grey2: #ddd;
  --white: #eee;

  --aqua:           #0af0ae;
  --aqua-red-shift: #84e946;
  --blue-violet:    #8952ff;
  --blue-violet2:    #5614fc;
  --electric:       #2ca9f5;
  --electric2:       #0c79f3;
  --gold:           #e59911;
  --lime:           #a5f031;
  --peach:          #f9c7a8;
  --tangerine:      #ff9912;

  --dark-ac: var(--electric);
  --dark-ac2: var(--blue-violet);
  --dark-ac3: var(--tangerine);
  --dark-bg: var(--black);
  --dark-fg: var(--white);
  --dark-fg2: var(--grey1);

  --light-ac: var(--electric);
  --light-ac2: var(--blue-violet);
  --light-ac3: var(--tangerine);
  --light-bg: var(--white);
  --light-fg: var(--black);
  --light-fg2: var(--grey2);

  /* default to dark theme */
  --ac: var(--dark-ac);
  --ac2: var(--dark-ac2);
  --ac3: var(--dark-ac3);
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --fg2: var(--dark-fg2);
}

:root[data-color-scheme="dark"] {
  --ac: var(--dark-ac);
  --ac2: var(--dark-ac2);
  --ac3: var(--dark-ac3);
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --fg2: var(--dark-fg2);
}

:root[data-color-scheme="light"] {
  --ac: var(--light-ac);
  --ac2: var(--light-ac2);
  --ac3: var(--light-ac3);
  --bg: var(--light-bg);
  --fg: var(--light-fg);
  --fg2: var(--light-fg2);
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  background-color: var(--ac3);
  height: 100%;
}

body {
  /*min-height: 100%;*/
  width: 100%;
}

html,
body {
  color: var(--fg);
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body,
#__next {
  background-color: var(--bg);
}

#__next {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#__next > .container {
  flex: 1 0 auto;
}

footer {
  border-top: 1px solid var(--fg2);
}

a:visited {
  color: var(--ac2);
}

a:active {
  color: var(--ac2);
}

a {
  color: var(--ac);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


@media (prefers-color-scheme: light) {
  :root:not([data-color-scheme]) {
    --ac: var(--light-ac);
    --ac2: var(--light-ac2);
    --ac3: var(--light-ac3);
    --bg: var(--light-bg);
    --fg: var(--light-fg);
    --fg2: var(--light-fg2);
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  padding: 0 8px;
}
