:root {
  --black: #111;
  --white: #eee;

  --aqua:       #0af0ae;
  --electric:   #0c79f3;
  --peach:      #f9c7a8;

  --dark-bg: var(--black);
  --dark-fg: var(--white);
  --dark-accent: var(--aqua);

  --light-bg: var(--white);
  --light-fg: var(--black);
  --light-accent: var(--electric);

  /* default to dark theme */
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --accent: var(--dark-accent);
}

:root[data-color-scheme="dark"] {
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --accent: var(--dark-accent);
}

:root[data-color-scheme="light"] {
  --bg: var(--light-bg);
  --fg: var(--light-fg);
  --accent: var(--light-accent);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

a,
a:visited {
  color: var(--accent);
}

@media (prefers-color-scheme: light) {
  :root:not([data-color-scheme]) {
    --bg: var(--light-bg);
    --fg: var(--light-fg);
    --accent: var(--light-accent);
  }
}
/* edge case where the dark pref is needed? */
/*
 * user os set to dark.
 * attribute is set to empty / invalid value
 * ...
 * not sure yet.
 */

/* header stuff */
.lastname {
  font-weight: normal;
}
